<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Utils</title>
</head>
<body>
<h1>Welcome to the text analyser. Enter your text</h1>

<form action='/analyze' method='get'>
    <textarea name='text' style="margin: 0px; width: 1338px; height: 298px;"></textarea>
    <input type="checkbox" name="removepunc"> Remove Punctuations<br>
     <input type="checkbox" name="fullcaps"> UPPERCASE<br>
     <input type="checkbox" name="newlineremover"> New Line Remove<br>
     <input type="checkbox" name="extraspaceremover"> Extra Space Remover<br>
    <button type="submit">Analyse Text</button>
</form>
</body>
</html>